@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
:root {
  --bg-color: #2A2F4F;
  --nav-bg-color: #F7C04A;
}

.banner-img {
  margin-top: 80px;
}




/* Home Page */
#hero {
  background-color: rgb(163, 143, 163);
  margin-top: 80px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.hero-detail {
  color: whitesmoke;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-detail h4 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.hero-detail h1 {
  margin-bottom: -20px;
  color: var(--bg-color);
  font-size: 3rem;
}

.hero-detail p {
  margin-top: 15px;
  color: rgb(50, 50, 50);
}

.hero-detail button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin-left: 50px;
  background-color: var(--bg-color);
  margin-top: 15px;
  cursor: pointer;
}

.hero-img {
  padding: 10px 80px;
  padding-right: 200px;
}

.hero-img img {
  height: 100%;
  width: 100%;
}


.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img {
  transition: transform 0.4s ease;
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}



/* All Products */
.all-products {
  /* border: 1px solid grey; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 10px 0px 20px 0px;
  font-family: "Poppins";
}

.all-products-added {
  border-left: 1px solid grey;
}

.all-products-added h1 {
  color: var(--bg-color);
  font-family: "Poppins";
}

.btn-dark {
  background-color: var(--bg-color);
}

/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}


.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}

.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: var(--bg-color);
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}



#summers {
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  
}

#summers::-webkit-scrollbar {
  display: none;
}

#summer-appliances {
  width: 20%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#summer-appliances p {
  padding-left: 30px;
  font-size: 1.9rem;
  padding-right: 20px;
}

#summer-appliances input {
  background: var(--bg-color);
  color: white;
  font-size: 15px;
  outline: none;
  height: 45px;
  border: none;
  width: 120px;
  border-radius: 3px;
}




#appliance {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px 0px 10px;
  padding: 2px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#appliance img {
  height: 180px;
  width: 180px;
  transition: transform 0.3s ease;
}

#appliance img:hover {
  transform: scale(0.8);
}


#appliance span {
  color: green;
}



#WhatYouCanBuy {
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 20px;
  font-family: 'Poppins', sans-serif;
}

#WhatYouCanBuy h6 {
  color: rgb(71, 71, 71);
  border-bottom: 1px solid grey;
  font-size: 13px;
  font-weight: bold;
}

#WhatYouCanBuy p {
  color: rgb(101, 101, 101);
  font-size: 11px;

}